@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Manrope:wght@700;800";

body {
  font-family: Manrope, sans-serif;
  background-color: hsl(218deg, 23%, 16%);
  color: white;
  text-align: center;
}

.content-box {
  padding: 2rem;
  background-color: hsl(217deg, 19%, 24%);
  border-radius: 10px;
  position: relative;
}

.advice {
  color: hsl(150deg, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}

.circle-dice {
  padding: 2rem;
  border-radius: 50%;
  border: none;
  background-color: hsl(150deg, 100%, 66%);
  background-image: url("../images/icon-dice.svg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -2rem;
  left: 41%;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 -2px 26px 2px rgb(60, 205, 113);
}

.line-pattern-div {
  margin: 1rem 0;
}

img.line-pattern {
  width: 100%;
}

.desktop {
  display: none;
}

@media screen and (min-width: 756px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .line-pattern-div {
    margin: 2rem 0;
    padding: 0 1rem;
  }

  .icon-dice {
    width: 10%;
  }

  .circle-dice {
    left: 45%;
  }

  img.line-pattern {
    width: 95%;
    position: absolute;
    bottom: 4rem;
    left: 1rem;
  }
}
